@font-face {
    font-family: 'CursiveFont';
    src: url('fonts/font.woff2') format('woff2');
    font-weight: 600;
    font-style: normal;
}


#main-page{
    width: 960px;
    margin: 0 auto;
}
.each-slide {
    height: 400px;
}

.slide-image {
    height: 100%;
    background-size: 100% auto;
}

.bonuses {
    display: flex;
    justify-content: space-around;
    background: rgba(47, 51, 69, 1);
    color: darkgray;
    height: 40px;
    margin: 20px 0;
    align-items: center;
    border-radius: 3px;
}

.bonuses__icons {
    height: 30px;
    margin-right: -10px;
    width: auto;
}
